@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
}
body{
    background: rgb(245, 243, 243);
    font-family: 'poppins' ;
}
section{
    margin: 1.5em 1em;
    border: 1px rgb(194, 194, 194) solid;
    background: #f7f7f7;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container {
    text-transform: capitalize;
    font-size: .7em;
    line-height: 3em;
    padding: 1em 2em;
    text-align: center;
        h1 { 
        color: #c964f0;
    }
    h2 {
        color: #10a4d2;
    }
}

    .navbar {
    background-color:white;
    margin: 0;
    width: 100%;

    .hometext {
        font-weight: bold;
        text-transform: capitalize;
        text-decoration: none;
        color: #f21382;
    }

    nav {
        display:none ;
    }

    .container {
        display: flex;
        place-content: space-between;
        padding-right: 30px;
    }

    .mobile-menu {
        cursor: pointer;
    }
}


.hero {
    ul {
        list-style-type: none;


        li {
            text-align: left;
        padding-left: 2em;
        position: relative;
        }
        

        .one {
            &:before {
                content: '';
                position: absolute;
                background-image: url('../images/briefcase-solid.svg');
                background-size: contain;
                width: 20px;
                height: 20px;
                margin-right: .5em;
                left: -.3em;
            }
        }
        .suitcase {
            color: aqua;
        }
        .two {
            &:before {
                content: '';
                position: absolute;
                background-image: url('../images/map-marked-alt-solid.svg') ;
                background-size: contain;
                width: 20px;
                height: 18px;
                margin-right: .5em;
                left: -.3em;
            }
        }
        .three {
            &:before {
                content: '';
                position: absolute;
                background-image: url('../images/envelope-regular.svg');
                background-size: contain;
                width: 20px;
                height: 20px;
                margin-right: .5em;
                left: -.3em;
            }
        }

    }

    img {
        width: 100%;
    }
}

.education {
    text-align: center;

    
    a {
        text-decoration: none;
        color: black;

        &:hover { 
            font-weight: bold;
            color: blue;
        }

    }
}


.language {
    table {
        display: inline-block;
        border-collapse: collapse;

        th {
        color: #10a4d2;
        }

        td {
            border: rgb(224, 224, 224) 1px solid;
            padding: .5em;
        }
    }
}


nav.menu-btn {
    display: block;
}

nav {
    position: fixed;
    width: 66%;
    right: 0;
    top: 0;
    background: #20272e;
    height: 100vh;
    z-index: 999;
    padding: 1em;
    



    ul.left-menu {
        margin-top: 5em;
    }


    li {

        a {
            color: white;
            text-decoration: none;
            display: block;
            padding: .5em;
            font-size: 1.3em;
            text-align: right;
            text-transform: capitalize;


            &:hover {
                font-weight: bold;
            }
        }
        
    }
    }


.mobile-exit {
    float: right;
    padding: .5em;
    cursor: pointer;
}
